<button data-bind="click: addChild">Add child</button>
<button data-bind="click: destroyChildren">Remove children</button>
<!-- Variant with getRegion() -->
<div style="display: flex">
    <ul data-bind="foreach: getRegion('left')" style="flex-grow: 1">
        <!-- ko template: getTemplate() --><!--/ko-->
    </ul>
    <ul data-bind="foreach: getRegion('right')" style="flex-grow: 1">
        <!-- ko template: getTemplate() --><!--/ko-->
    </ul>
</div>

<!-- Variant with "elems" NO Region -->
<!--<ul data-bind="foreach: elems">-->
<!--    &lt;!&ndash; ko template: getTemplate() &ndash;&gt;&lt;!&ndash;/ko&ndash;&gt;-->
<!--</ul>-->
